<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
  <%- include('index.html') -%>

<style>

  .ml{
      margin-left: 12px;


  }

</style>
<body>
  


<!-- Button trigger modal -->
<button type="button" class="btn btn-dark b btn-sm ml float-right text-center mt-3 float-left" data-bs-toggle="modal" data-bs-target="#exampleModal">
   add new Customer
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Register New Customer</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <form action="/custProcess" method="post">
          <input type="hidden" name="id" id="id">
          <input type="hidden" name="op" id="op" value="I">
          <label for="Name" class="form-label">Customer Name</label>
          <input type="text" id="name" class="form-control  form-control-sm" name="name" placeholder="Enter customer district">
          
          <label for="Name" class="form-label">Customer district</label>
          <input type="text" id="district" class="form-control  form-control-sm" name="district" placeholder="Enter customer district">
          <label for="Name" class="form-label">Customer Phone</label>
          <input type="text" id="phone" class="form-control form-control-sm" name="phone" placeholder="Enter customer phone">
        </div> 
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary btn-sm">Save changes</button>
        </div>
      </form>
      </div>
    </div>
  </div>
   <div class="container">
  
    <div class="card mt-3">

      <div class="card-body">
  <table class="table table-light mt-3 text-align-center" id="myTable">
   <thead class="mt-3">
    <th>customer Name</th>
    <th>customer District</th>
    <th>customer Phone</th>
    <th>Action</th>
   </thead>
   <tbody>
 
      <% data.forEach(function(d){ %>
        <tr>
            <td><%= d.name %></td>
            <td><%= d.phone %></td>
            <td><%= d.district %></td> 
         <td> <span class="btn btn-primary" onclick="edit(`<%= d._id%>`,`<%= d.name%>`,`<%= d.phone%>`,`<%= d.district%>`)"> <i class="fas fa-edit"></i></span>
                    <span class="btn btn-danger" onclick="DELETE(`<%= d._id %>`)" ><i class="fas fa-trash "></i> </span>
        
        </td>


      
      
        </tr> 
   <% })%>
      
   </tbody>
  </table>




















</div>
</div>
</div>
</body>
</html>

<script>
  $(document).ready( function () {
    $('#myTable').DataTable();
  } );
  
  function show_mode() {
                  $('#exampleModal').modal('show');
              }
  
              function edit(_id, name, phone, district) {
                  $('#name').val(name)
                  $('#phone').val(phone)
                  $('#district').val(district)
                  $('#id').val(_id)
                  $("#op").val('U')
                  $('#exampleModal').modal('show');
              }
              function DELETE(_id) {
        $.ajax({
            url: '/cus_delete/:id',
            type: 'Post',
            success: function (result) {
                
            }
        });
    }
  
  </script>